@using Microsoft.AspNetCore.Http;
@model InventoryView;
@{
    ViewData["Title"] = "Home Page";
}
<head>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css">
</head>

<div class="col-sm-12">
    <div class="col-sm-12">
        <a asp-controller="Home" asp-action="AddEditProduct">Add product</a>
    </div>
    <div class="col-sm-12" style="display:flex;">
        <form asp-action="Index" asp-controller="Home" method="post" style="display:flex;">
            <div class="col-sm-4" style="min-width:300px; display:flex;align-items:center;">
                <label>Category:</label>
                <select name="categoryID" class="form-control">
                    <option value="All">All</option>
                    @foreach (var category in Model.Categories)
                    {

                        @if (ViewBag.catID != null && ViewBag.catID != "All" && category.Id == Convert.ToInt32(ViewBag.catID))
                        {
                            <option value="@category.Id" selected>@category.CategoryName</option>
                        }
                        else
                        {
                            <option value="@category.Id">@category.CategoryName</option>
                        }
                    }
                </select>
            </div>
            &nbsp;
            <div class="col-sm-4" style="min-width:300px; display:flex;align-items:center;">
                <label>Warehouse:</label>
                <select name="warehouseID" class="form-control">
                    <option value="All">All</option>
                    @foreach (var warehouse in Model.Warehouses)
                    {
                        @if (ViewBag.warID != null && ViewBag.warID != "All" && warehouse.ID == Convert.ToInt32(ViewBag.warID))
                        {
                            <option value="@warehouse.ID" selected>@warehouse.Location</option>
                        }
                        else
                        {
                            <option value="@warehouse.ID">@warehouse.Location</option>
                        }

                    }
                </select>
            </div>
            &nbsp;
            <button type="submit" class="btn btn-success">Search</button>
            &nbsp;
            <a asp-controller="Home" asp-action="Index"
               class="btn btn-outline-dark">Cancel</a>
        </form>

    </div>
    <table id="myTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Product Code</th>
                <th>Category</th>
                <th>Description</th>
                <th>Warehouse</th>
                <th>Vendor</th>
                <th>Quantity</th>
                    <th></th>
                    <th></th>
            </tr>
        </thead>
        <tbody>
            @if (@Model.Products.Count > 0)
            {
                @foreach (var product in @Model.Products)
                {
                    <tr>
                        <td>@product.ProductName</td>
                        <td>@($"{product.Price:C}")</td>
                        <td>@product.ProductCode</td>
                        <td>@product.Category.CategoryName</td>
                        <td>@product.Description</td>
                        <td>@product.Warehouse.Location</td>
                        <td>@product.Vendor</td>
                        <td>@product.Quantity</td>
                        @if (Context.Session.GetString("RoleID") == "2")
                        {
                            <td>
                                <a asp-controller="Home" asp-action="AddEditProduct"
                       asp-route-id="@product.ProductId">Edit</a>
                            </td>
                            <td>
                                <button class="btn btn-danger" onclick="Delete(@product.ProductId)">Delete</button>
                            </td>
                        }
                        else
                        {
                            <td>
                                <button class="btn btn-primary" onclick="EditQuantity(@product.ProductId)">
                                    Edit
                                </button>
                            </td>
                            <td></td>
                        }
                    </tr>
                }
            }
            else
            {
                @if (Context.Session.GetString("RoleID") == "2")
                {
                    <tr><td colspan="10" class="text-center">No products to show</td></tr>
                }
                else
                {
                    <tr><td colspan="8" class="text-center">No products to show</td></tr>
                }
            }

        </tbody>
    </table>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are you sure, you want to Delete.</p>
            </div>
            <div class="modal-footer">
                <a asp-controller="Home" asp-action="DeleteProduct" asp-route-id=""
                   class="btn btn-success id">Delete</a>
                <a asp-controller="Home" asp-action="Index"
                   class="btn btn-primary">Cancel</a>
            </div>
        </div>

    </div>
</div>

<div id="myModalQuantity" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form asp-action="EditQuantity" asp-controller="Home" method="post">
                <div class="modal-body">
                    <input type="number" name="ID" id="ProductID" hidden />
                    <div class="col-sm-12">
                        <label>Quantity:</label>
                        <input type="number" name="Quantity" class="form-control" required max="100" min="0" />
                    </div>
                </div>
                <div class="modal-footer">
                   <button type="submit" class="btn btn-success">Submit</button>
                    <a asp-controller="Home" asp-action="Index"
                       class="btn btn-primary">Cancel</a>
                </div>
            </form>
        </div>

    </div>
</div>
<script>

    function Delete(id) {
        $(".id").attr('href', "DeleteProduct/" + id);
        $("#myModal").modal("show");
    }

    function EditQuantity(id){
        $("#ProductID").val(id);
        $("#myModalQuantity").modal("show");
    }
    $(document).ready(function () {
        $('#myTable').dataTable({
            pageLength: 5,
            bLengthChange: false,
            bInfo: false,
            "columns": [
                {
                    "sortable": true
                },
                {
                    "sortable": false
                },
                {
                    "sortable": true
                },
                {
                    "sortable": false
                },
                {
                    "sortable": false
                },
                {
                    "sortable": false
                },
                {
                    "sortable": false
                }
                ,
                {
                    "sortable": false
                }
                ,
                {
                    "sortable": false
                },
                {
                    "sortable": false
                }
            ]
        });
    });
</script>
